<div class="cards">
  <h3 class="cards__title">Выберите свою любимую пиццу</h3>
  <div fxLayout="row wrap" class="cards__inner">
    <div class="cards__item">
      <app-pizza-item></app-pizza-item>
    </div>
    <div class="cards__item">
      <app-pizza-item></app-pizza-item>
    </div>
    <div class="cards__item">
      <app-pizza-item></app-pizza-item>
    </div>
    <div class="cards__item">
      <app-pizza-item></app-pizza-item>
    </div>
    <div class="cards__item">
      <app-pizza-item></app-pizza-item>
    </div>
    <div class="cards__item">
      <app-pizza-item></app-pizza-item>
    </div>
  </div>
</div>
