<div class="order" fxLayout="row">
  <div class="order__info" fxFlex="41">
    <h3 class="order__title">
      <span class="order__title_light">Хватит думать!</span><br>
      <span class="order__title_dark">Доставим заказ за 30 минут!</span>
    </h3>
    <span class="order__subtitle">Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!</span>
  </div>
  <div class="order__form" fxFlex="31">
    <form fxLayout="column">
      <input type="text" name="name" placeholder="Ваше имя" class="form__input">
      <input type="text" name="name" placeholder="Адрес доставки" class="form__input">
      <input type="text" name="name" placeholder="Телефон " class="form__input">
      <button class="main-button main-button_light order__button" type="submit" mat-button>Оформить заказ</button>
    </form>
  </div>
  <div class="order__img">
    <img   src="../../../assets/images/pizza_slice.png" alt="Pizza slice">
  </div>
</div>
