.order
  position: relative

.order__info
  padding-right: 100px

.order__form
  padding: 55px 21px 0

.order__title
  font-size: 35px
  line-height: 45px
  font-family: "Muller Extra Bold", sans-serif
  margin-bottom: 62px

.order__title_light
  color: #ffaf18

.order__title_dark
  color: #b99150

.order__subtitle
  font-size: 16px
  line-height: 24px
  color: #b99150
  font-family: "Muller Regular", sans-serif

.form__input
  font-size: 18px
  border: 1px solid #b99150
  padding: 21px
  margin-bottom: 25px

.form__input:focus
  outline: 1px solid #b99150
  padding: 21px

.form__input::placeholder
  font-size: 18px
  line-height: 45px
  color: #cba86e
  font-family: "Muller Regular", sans-serif

.order__button
  padding: 29px 0

.order__img
  position: absolute
  right: -11%
  bottom: -11%
