<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div class="item item__ic-wheat" fxLayout="column">
    <h3 class="item__title">Лучшее тесто</h3>
    <p class="item__subtitle">Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
  </div>
  <div class="item item__ic-hat" fxLayout="column">
    <h3 class="item__title">Лучшие повара</h3>
    <p class="item__subtitle">Пиццы готовят самые профессиональные итальянские повара</p>
  </div>
  <div class="item item__ic-award" fxLayout="column">
    <h3 class="item__title">Гарантия качества</h3>
    <p class="item__subtitle">Наша пиццерия получила множество наград и признаний по всему миру</p>
  </div>
  <div class="item item__ic-dish" fxLayout="column">
    <h3 class="item__title">Отборные рецепты</h3>
    <p class="item__subtitle">Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
  </div>
</div>

