<div fxLayout="row" fxLayoutAlign="space-between">
  <div class="main__info">
    <h1 class="main__title">Самая вкусная пицца в мире<br>
      <span class="main__title_light">только в Pizza Cheff</span>
    </h1>
    <div class="main__cards" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-quality-items></app-quality-items>
    </div>
    <a class="main-button main-button_light main__button" routerLink="/" mat-flat-button>Выбрать пиццу</a>
  </div>
  <div>
    <img class="main__img" src="../../../assets/images/pizza_big.png" alt="Pizza">
  </div>
</div>
